:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --pressed-state: #404bbf;
  --naviblue: #2e2f42;
  --success: #31d0aa;
  --slate: #434455;
  --subtle-Text: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --modal-background: #fcfcfc;
  --white: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font);
  color: var(--slate);
  background-color: var(--white);
}
img {
  display: block;
}
.container {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* header */
.header-index {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  width: 1158px;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.logo-studio {
  color: var(--iris);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  margin-right: 76px;
  display: inline-block;
}
.logo-studio-dark {
  color: var(--naviblue);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  display: inline-block;
}

.logo-studio-light {
  color: var(--cloud);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.address-list {
  font-style: normal;
  display: flex;
  gap: 40px;
  margin-right: 40px;
}
.menu-nav {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--naviblue);
  text-decoration: none;
  display: flex;
  gap: 40px;
  margin-right: 40px;
  padding: 24px 0 24px;
}
.menu-nav:hover,
.menu-nav:focus {
  color: var(--pressed-state);
}
.nav-list {
  display: inline-block;
}
.nav-nav {
  display: inline-block;
  margin-right: 40px;
}
.nav-nav li {
  display: flex;
}
.nav-nav li :last-child {
  margin-right: 0;
}

.link-menu-portfolio {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--naviblue);
  text-decoration: none;
}
.link-menu-portfolio:hover,
.link-menu-portfolio:focus {
  color: var(--pressed-state);
}

.link-menu-contacts {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--naviblue);
}
.link-menu-contacts:hover,
.link-menu-contacts:focus {
  color: var(--pressed-state);
}
.link-address .link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.link-address .link:hover,
.link-address .link:focus {
  color: var(--pressed-state);
}
.list-address {
  list-style-type: none;
  display: flex;
  align-items: center;
}
li:last-child {
  margin-right: 0;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  margin-right: 24px;
  row-gap: 48px;
  margin-bottom: 48px;
}
.link {
  text-decoration: none;
  gap: 40px;
  margin-right: 40px;
  margin-right: 0;
}
.header-index {
  border-bottom: 1px solid #e7e9fc;
}
.nav-list {
  display: flex;
  align-items: center;
}

/* main */
/* section 1 */
.container .dark-bg {
}
.dark-bg {
  background-color: var(--hero-background);
  display: flex;
  flex-direction: column;
  padding: 188px 0 188px;
}
.effective {
  color: var(--white);
  line-height: 1.07;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.btm-effective {
  background-color: var(--iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  display: block;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  margin-bottom: 188px;
  margin-left: 636px;
  margin-top: 48px;
  margin-right: 635px;
  height: 56px;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}
.btm-effective:hover,
.btm-effective:focus {
  background-color: var(--pressed-state);
}

/* section 2 */
.benefits-sec {
  padding: 120px 0 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  gap: 24px;
  margin-right: 24px;
}
.benefits-list-item {
  width: calc((100% - 72px) / 4);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background);
  margin-bottom: 8px;
}
.desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* section 3 */
.subtitle-section-team {
}
.section-team :first-child {
  display: block;
}
.our {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subtitle-section-img {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--naviblue);
}
.list-team-img {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.team-container-item {
  padding: 32px 0 32px;
}
.team-list {
  gap: 24px;
}
.team-img {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
/* section 4 */
.sec-our-portfolio {
  padding: 120px 0 120px 0;
}
.sec-our-portfolio :first-child {
  display: block;
}
.section-team {
  background-color: var(--cloud);
  padding: 120px 0 120px;
  text-align: center;
  margin-bottom: 8px;
}
.subtitle-section-team-our {
  margin-bottom: 72px;
}
.section-team-item {
  width: calc((100% - 48px) / 3);
}
.container-our-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  margin-bottom: 8px;
  border-top: none;
}
.subtitle-section-team {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background);
  margin-bottom: 72px;
  gap: 24px;
}
.subtitle-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background);
  margin-bottom: 8px;
}
.desc-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.list-team-img {
  background-color: var(--white);
}
.subtitle-section-port {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background);
  margin-bottom: 8px;
}

/* footer */

.footer-logo-studio-link {
  color: var(--iris);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-decoration: none;
}
.footer-logo-studio-link {
  display: inline-block;
}
.footer {
  background-color: var(--naviblue);
  padding: 100px 0 100px;
}
.footer-text {
  color: var(--cloud);
  letter-spacing: 0.02em;
  line-height: 1.5;
  max-width: 264px;
}
